@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

html, body {
    height: 100%;
    position: relative;
    /* overflow-x: hidden; */
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

/* NAVBAR */

.navbar-container { 
    min-height: 10vh;
    width: 100%;
    max-width: 72em;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.5em;
}

.nav {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    left: -100%;
    padding: 1em 0;
    z-index: 1;
    transition: 0.3s ease-in;
}

.nav-active {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 0.3s ease-in;
    background-color: black;
}

.nav-link {
    text-decoration: none;
    letter-spacing: 0.4px;
    color: white;
}

.nav-link:hover {
    color: #CEA3FF;
}

.navbar-logo {
    letter-spacing: 0.4px;
    font-size: 1.4rem;
    text-decoration: none;
    color: #CEA3FF;
    padding: 0.18em;
    border: 2px solid #CEA3FF;
    border-radius: 50%;
}

.hamburger-btn {
    display: block;
    z-index: 100;
}

.hamburger-btn:hover {
    cursor: pointer;
}

.hamburger-line {
    display: block;
    position: relative;
    width: 25px;
    height: 3.2px;
    margin: 4px auto;
    border-radius: 5px;
    background-color: white;
    transition: 0.2s ease-in;
}

.nav-close-line-1 {
    display: block;
    position: absolute;
    width: 25px;
    height: 3.2px;
    margin: 4px auto;
    border-radius: 5px;
    background-color: white;
    transition: 0.2s ease-in;
    transform: rotate(45deg);
}

.nav-close-line-2 {
    display: none;
}

.nav-close-line-3 {
    display: block;
    width: 25px;
    height: 3.2px;
    margin: 4px auto;
    border-radius: 5px;
    background-color: white;
    transition: 0.3s ease-in;
    transform: rotate(-45deg);
}

/* HOME */

.home {
    display: flex;
    min-height: 89vh;
}

.home-intro-container {
    width: 100%;
    max-width: 72em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 1em 0;
}

.home-text-container {
    width: 100%;
    padding: 0 1.5em;
    min-height: 40%;
    margin-bottom: 3em;
}

.home-intro-text {
    font-size: 1.2rem;
    letter-spacing: 1.4px;
    color: #CEA3FF;
    margin-bottom: 0.2em;
}

.home-intro-name {
    font-size: 2.25rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    margin-bottom: 0.2em;
}

.home-intro-subtext {
    font-size: 1.875rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #CEA3FF;
}

.home-intro-p {
    max-width: 500px;
    font-size: 1rem;
    letter-spacing: 1.4px;
    line-height: 1.6em;
    overflow-wrap: break-word;
    color: white;
    margin-top: 1em;
    margin-bottom: 2em;
}

.home-intro-about-link {
    color: #CEA3FF;
    text-decoration: none;
}

.home-intro-about-link:hover {
    border-bottom: 2px solid #CEA3FF;
}

.home-intro-buttons {
    width: 90%;
    display: flex;
    align-items: center;
}

.home-intro-resume {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0.8em;
    color: #CEA3FF;
    background-color: black;
    border: 2px solid #CEA3FF;
    border-radius: 5px;
    margin-right: 1em;
}

.home-intro-resume:hover {
    cursor: pointer;
    color: white;
    border: 2px solid white;
}

.home-intro-icon {
    color: white;
    font-size: 2rem;
    margin-right: 0.5em;
}

.home-intro-icon:hover {
    cursor: pointer;
}

.home-img-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 3em;
    border: 3px solid white;
}

.home-profile-img {
    width: 100%;
    height: auto;
}

/* ABOUT */

.about {
    min-height: 100vh;
    border: 1px solid red;
}

.about-p {
    color: white;
}

/* MEDIA QUERIES */

@media screen and (min-width: 500px) {
    /* HOME */
    .home-img-container {
        width: 250px;
        height: 250px;
    }
}

@media screen and (min-width: 768px) {
    /* NAVBAR */
    .nav {
        width: 50%;
        max-width: 350px;
        position: static;
        flex-direction: row;
        justify-content: space-between;
    }

    .hamburger-btn {
        display: none;
    }

    /* HOME */
    .home-intro-name {
        font-size: 3.6rem;
        margin-bottom: 0;
    }

    .home-intro-subtext {
        font-size: 3rem;
    }

    .home-intro-p {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1024px) {
    /* HOME */
     .home-text-container {
        margin-left: auto;
        margin-right: auto;
     }

     .home-intro-name {
        font-size: 5rem;
    }

    .home-intro-subtext {
        font-size: 3.2rem;
    }
}