@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

html, body {
    height: 100%;
    position: relative;
    background-color: black;
    scrollbar-color: #CEA3FF;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0.75em;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #CEA3FF;
}

@supports (scrollbar-color: #CEA3FF white) {
    * {
        scrollbar-color: #CEA3FF white;
        scrollbar-width: auto;
    }
}

/* NAVBAR */

.navbar-container { 
    min-height: 10vh;
    width: 100%;
    max-width: 72em;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.5em;
}

.nav {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    left: -100%;
    padding: 1em 0;
    z-index: 1;
    transition: 0.3s ease-in;
}

.nav-active {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 0.3s ease-in;
    background-color: black;
}

.nav-link {
    text-decoration: none;
    letter-spacing: 0.4px;
    color: white;
}

.nav-link:hover {
    color: #CEA3FF;
}

.navbar-logo {
    letter-spacing: 0.4px;
    font-size: 1.4rem;
    text-decoration: none;
    color: #CEA3FF;
    padding: 0.18em;
    border: 2px solid #CEA3FF;
    border-radius: 50%;
}

.hamburger-btn {
    display: block;
    z-index: 100;
}

.hamburger-btn:hover {
    cursor: pointer;
}

.hamburger-line {
    display: block;
    position: relative;
    width: 25px;
    height: 3.2px;
    margin: 4px auto;
    border-radius: 5px;
    background-color: white;
    transition: 0.2s ease-in;
}

.nav-close-line-1 {
    display: block;
    position: absolute;
    width: 25px;
    height: 3.2px;
    margin: 4px auto;
    border-radius: 5px;
    background-color: white;
    transition: 0.2s ease-in;
    transform: rotate(45deg);
}

.nav-close-line-2 {
    display: none;
}

.nav-close-line-3 {
    display: block;
    width: 25px;
    height: 3.2px;
    margin: 4px auto;
    border-radius: 5px;
    background-color: white;
    transition: 0.3s ease-in;
    transform: rotate(-45deg);
}

/* HOME */

.home {
    display: flex;
    min-height: 89vh;
}

.home-intro-container {
    width: 100%;
    max-width: 72em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 1em 0;
}

.home-text-container {
    width: 100%;
    padding: 0 1.5em;
    min-height: 40%;
    margin-bottom: 3em;
}

.home-intro-text {
    font-size: 1.2rem;
    letter-spacing: 1.4px;
    color: #CEA3FF;
    margin-bottom: 0.2em;
}

.home-intro-name {
    font-size: 2.25rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    margin-bottom: 0.2em;
}

.home-intro-subtext {
    font-size: 1.875rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #CEA3FF;
}

.home-intro-p {
    max-width: 500px;
    font-size: 1rem;
    letter-spacing: 1.4px;
    line-height: 1.6em;
    overflow-wrap: break-word;
    color: white;
    margin-top: 1em;
    margin-bottom: 2em;
}

.home-intro-about-link {
    color: #CEA3FF;
    text-decoration: none;
}

.home-intro-about-link:hover {
    border-bottom: 2px solid #CEA3FF;
}

.home-intro-buttons {
    width: 90%;
    display: flex;
    align-items: center;
}

.home-intro-resume {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0.8em;
    color: #CEA3FF;
    background-color: black;
    border: 2px solid #CEA3FF;
    border-radius: 5px;
    margin-right: 1em;
}

.home-intro-resume:hover {
    cursor: pointer;
    color: white;
    border: 2px solid white;
}

.home-intro-icon {
    color: white;
    font-size: 2rem;
    margin-right: 0.5em;
}

.home-intro-icon:hover {
    cursor: pointer;
}

/* ABOUT */

.about {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 0;
}

.about-container {
    width: 100%;
    max-width: 72em;
}

.about-content-container {
    width: 100%;
    max-width: 72em;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 3.5em;
}

.about-text-container {
    width: 100%;
    padding: 0 1.5em;
}

.about-title-container {
    width: 100%;
    max-width: 72em;
    margin: 0 auto;
    margin-bottom: 3em;
    padding: 0 1.5em;
}

.about-title {
    font-size: 2rem;
    letter-spacing: 1.4px;
    margin-bottom: 0.2em;
    color: #CEA3FF;
}

.about-p {
    font-size: 1rem;
    letter-spacing: 1.4px;
    line-height: 1.6em;
    max-width: 550px;
    color: white;
}

.about-img-container {
    width: 100%;
    text-align: center;
    padding: 0 1.5em;
    margin-bottom: 3em;
}

.about-profile-img {
    border: 4px solid white;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.about-skills-container {
    width: 100%;
    max-width: 72em;
    display: flex;
    margin: 0 auto;
    padding: 0 1.5em;
}

.about-skill-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5em;
    list-style: none;
}

.about-skill {
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    color: white;
    font-size: 1rem;
}

.about-skill-icon {
    height: 40px;
    width: 40px;
}

/* PROJECTS */

.projects {
    min-height: 100vh;
    padding: 5em 0;
}

.projects-list-container {
    width: 100%;
    max-width: 72em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin: 0 auto;
    margin-bottom: 3.5em;
}

.projects-title-container {
    width: 100%;
    max-width: 72em;
    margin: 0 auto;
    margin-bottom: 3em;
    padding: 0 1.5em;
}

.projects-title {
    font-size: 2rem;
    letter-spacing: 1.4px;
    margin-bottom: 0.2em;
    color: #CEA3FF;
}

.project-container {
    width: 90%;
    max-width: 520px;
    border-radius: 5px;
    border: 4px solid white;
    align-self: stretch;
    margin: 0 auto;
}

.project-img-container {
    width: 100%;
}

.project-img {
    width: 100%;
}

.project-text-container {
   width: 100%;
   padding: 1em 1.5em;
}

.project-tech-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    list-style: none;
    margin-bottom: 0.6em;
}

.project-tech-item {
    display: flex;
    align-items: center;
    padding: 0.25em 0.75em;
    font-size: 0.8rem;
    letter-spacing: 1.4px;
    color: #CEA3FF;
    border: 2px solid #CEA3FF;
    border-radius: 5px;
}

.project-description {
    font-size: 1rem;
    letter-spacing: 1.4px;
    line-height: 1.6em;
    margin-bottom: 0.6em;
    color: white;
}

.project-title {
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 1.4px;
    margin-bottom: 0.6em;
    color: white;
}

.project-link-container {
    display: flex;
    justify-content: left;
    gap: 0.6em;
}

.project-link {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 0.8em;
    border: 2px solid #CEA3FF;
    border-radius: 5px;
    color: #CEA3FF;
}

.project-link:hover {
    cursor:pointer;
    color: white;
    border: 2px solid white;
}

/* CONTACT */

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 5em 0;
}

.contact-container {
    width: 100%;
    max-width: 72em;
}

.contact-title-container {
    width: 100%;
    max-width: 72em;
    margin: 0 auto;
    margin-bottom: 3em;
    padding: 0 1.5em;
}

.contact-title {
    font-size: 2rem;
    letter-spacing: 1.4px;
    margin-bottom: 0.2em;
    color: #CEA3FF;
}

.contact-form {
    width: 100%;
    max-width: 72em;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 3.5em;
    padding: 0 1.5em;
}

.contact-label {
    color: white;
}

.contact-input {
    width: 100%;
    padding: 1em;
    margin-bottom: 2em;
    background-color: black;
    color: white;
    border: none;
    border-bottom: 3px solid white;
}

.contact-input:focus {
    border-bottom: 3px solid #CEA3FF;
    outline: none;
}

.contact-message {
    display: block;
    width: 100%;
    padding: 1em;
    margin-bottom: 2em;
    background-color: black;
    color: white;
    border: none;
    border-bottom: 3px solid white;
    resize: none;
}

.contact-message:focus {
    border-bottom: 3px solid #CEA3FF;
    outline: none;
}

.contact-btn {
    width: 50%;
    max-width: 250px;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0.8em;
    margin-top: 2em;
    color: #CEA3FF;
    background-color: black;
    border: 2px solid #CEA3FF;
    border-radius: 5px;
}

.contact-btn:hover {
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

/* FOOTER */

.footer {
    min-height: 10vh;
    width: 100%;
    max-width: 72em;
    display: flex;
    margin: 0 auto;
    border-top: 1px solid white;
}

.footer-content-container {
    width: 100%;
    max-width: 72em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin: 0 auto;
    padding: 1em 1.5em;
}

.footer-email {
    color: white;
    text-decoration: none;
}

.footer-icons-container {
    display: flex;
    gap: 1em;
}

.footer-icon {
    color: white;
    font-size: 1.2rem;
}

/* MEDIA QUERIES */

@media screen and (min-width: 500px) {
    /* FOOTER */
    .footer-content-container {
        flex-direction: row;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    /* NAVBAR */
    .nav {
        width: 50%;
        max-width: 350px;
        position: static;
        flex-direction: row;
        justify-content: space-between;
    }

    .hamburger-btn {
        display: none;
    }

    /* HOME */
    .home-intro-name {
        font-size: 3.6rem;
        margin-bottom: 0;
    }

    .home-intro-subtext {
        font-size: 3rem;
    }

    .home-intro-p {
        font-size: 1.1rem;
    }

    /* ABOUT */
    .about-content-container {
        flex-direction: row;
    }

    .about-img-container {
        text-align: right;
    }

    .about-profile-img {
        height: 250px;
        width: 250px;
    }

    .about-skill-icon {
        height: 50px;
        width: 50px;
    }
}

@media screen and (min-width: 1024px) {
    /* HOME */
     .home-text-container {
        margin-left: auto;
        margin-right: auto;
     }

     .home-intro-name {
        font-size: 5rem;
    }

    .home-intro-subtext {
        font-size: 3.2rem;
    }

    /* PROJECTS */
    .projects-list-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}